<header th:fragment="frag-entete" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1 id="nav-title"><a th:href="@{/encheres} ">Eni-Enchere</a></h1>
    <ul>
        <li><a th:href="@{/encheres}">Eni-Enchères</a></li>
        <li><a th:href="@{/view-connexion}"></a>S'inscrire</li>
        <li><a th:href="@{/view-connexion}">Se Connecter</a></li>
        <li><a th:href="@{/encheres}">Enchères</a></li>
        <li><a th:href="@{/view-vendre-article}">Vendre un article</a></li>
        <li><a th:href="@{/view-mon-profil}">Mon profil</a></li>
        <li><a th:href="@{/encheres}">Déconnexion</a></li>
    </ul>
</header>
