<header th:fragment="frag-entete" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1 id="nav-title"><a th:href="@{/encheres} ">Eni-Enchere</a></h1>
    <ul>

        <li><a th:href="@{/inscription}">S'inscrire</a></li>
        <li><a th:href="@{/connexion}">Se Connecter</a></li>
        <li><a th:href="@{/encheres}">Enchères</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/view-vendre-article}">Vendre un article</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/view-mon-profil}">Mon profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Déconnexion (connecté en tant que : <span sec:authentication="name"></span>)</a></li>
    </ul>
</header>
