<header th:fragment="frag-entete"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <div class="container">

            <!-- LOGO + TITRE (clic = accueil) -->
            <a class="navbar-brand d-flex align-items-center"
               th:href="@{/encheres}">

                <img th:src="@{/images/logo.png}"
                     alt="Logo Enchères"
                     width="80"
                     height="80"
                     class="me-2">

                <span class="fw-bold">Enchère</span>
            </a>

            <!-- BOUTON MOBILE -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarContent" th:object="${utilisateurDto}">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/encheres}">Toutes les Enchères</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/gestion-encheres}">Gérer mes enchères</a>
                    </li>

                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/inscription}">S'inscrire</a>
                    </li>

                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/connexion}">Se connecter</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/vendre}">
                            Vendre un article
                        </a>
                    </li>

                  <!--  <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/monProfil(pseudo=${#authentication.name})}">
                            Mon profil
                        </a>
                    </li>-->

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link text-warning"
                           th:href="@{/monProfil(pseudo=${#authentication.name})}"
                        >
                            <span sec:authentication="name"></span>
                        </a>
                    </li>
                    <!-- Logout -->
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="logout-form dropdown-item text-danger">
                            <button type="submit" class="btn btn-outline-light">Déconnexion</button>
                        </form>
                    </li>

                </ul>
            </div>

        </div>

    </nav>

</header>