<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enchères</title>

</head>
<body>

<header th:replace="~{fragments/entete :: frag-entete}">
</header>
<main>
    <h1>Liste des enchères</h1>


        <form th:action="@{/encheresCategorie}" method="get" th:object="${articleVenduDto}">
        <Label for="lettreRecherche">Filtres : </Label>
        <input type="text" name="lettreRecherche" id="lettreRecherche">
            <label for="noCategorie">Catégorie :</label>

            <select id="noCategorie"
                th:field="*{noCategorie}">
                <option th:each="categorie : ${@categorieServiceImpl.findAllCategorie()}"
                    th:text="${categorie.libelle}"
                    th:value="${categorie.noCategorie}">
                </option>
            </select>
            <input type="submit" value="Rechercher">
        </form>



        <section>
            <article th:each="article : ${listeArticleVendu}">

                <h2 th:text="${article.nomArticle}"></h2>

                <p>
                    Mise à prix : <span th:text="${article.miseAPrix}"></span> €
                </p>

                <p>
                    Fin de l'enchère : <span th:text="${article.getDateFinEnchere()}"></span>
                </p>

                <p>
                    Vendeur : <span th:text="${article.vendeur}"></span>
                </p>

            </article>
        </section>
</main>
</body>
</html>