<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enchères - Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/darkly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header data-th-replace="~{fragments/entete :: frag-entete }"></header>
<main class="container mt-5">
    <form th:action="@{/login}" method="POST" class="border rounded p-4 shadow">
        <label for="inputLogin">Identifiant :</label>
        <input type="text" id="inputLogin" name="username">

        <label for="inputMdp">Mot de passe :</label>
        <input type="password" id="inputMdp" name="password">
        <button type="submit">Connexion</button>

        <input type="checkbox" id="cbSouvenir" name="remember" />
        <label for="cbSouvenir">Se souvenir de moi</label>
        <a href="">Mot de passe oublié</a>

    </form>
    <a href="https://google.com" class="button">Créer un compte</a>

</main>
</body>
</html>