<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enchères - Détail vente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
</head>
<body>
    <header data-th-replace="~{fragments/entete :: frag-entete }"></header>
    <main>
        <h1>Détail vente</h1>
        <h2 th:text="${article.getNomArticle()}"></h2>
        <div class="form-like">

                <p class="label">Description</p>
                <p class="value" th:text="${article.getDescription()}"></p>
                <p class="label">Catégorie : </p>
                <p class="value" th:text="${@categorieServiceImpl.findCategorieById(article.categorieArticle.getNoCategorie()).libelle}"></p>
                <p class="label">Meilleure offre :</p>
                <p class="value">
                    <!-- thif et th unless prix de vente = 0, afficher première mise à prix-->
                    <span th:if="${article.getPrixVente()==0}" th:text="${article.getMiseAPrix() + ' puntos'}"></span>
                    <span th:unless="${article.getPrixVente()==0}" th:text="${article.getPrixVente()+ ' points'}"></span>
                    par
                    <span th:if="${article.getPrixVente()==0}" th:text="${@utilisateurServiceImpl.findUserById(article.utilisateur.noUtilisateur).pseudo}"></span>
                    <span th:unless="${article.getPrixVente()==0}" th:text="${@enchereServiceImpl.findBestBidder(article.getNoArticle())}"></span>
                </p>
                <p class="label">Mise à prix :</p>
                <p class="value" th:text="${article.getMiseAPrix() + ' points'}"></p>
            <p class="label">Fin de l'enchère le</p>
            <p class="value">
                <span th:text="${#temporals.format(article.dateFinEnchere, 'dd/MM/yyyy')}"></span>
                à
                <span th:text="${#temporals.format(article.dateFinEnchere, 'HH:mm')}"></span>
            </p>
                <p class="label">Retrait :</p>
                <p class="value" th:text="${@utilisateurServiceImpl.findUserById(article.utilisateur.noUtilisateur).getRue()}"></p>
            <p class="label"></p>
            <p class="value" th:text="${@utilisateurServiceImpl.findUserById(article.utilisateur.noUtilisateur).getCodePostal() + ', ' + @utilisateurServiceImpl.findUserById(article.utilisateur.noUtilisateur).getVille()}"></p>

                <p class="label">Vendeur :</p>
                <p class="value" th:text="${@utilisateurServiceImpl.findUserById(article.utilisateur.noUtilisateur).pseudo}"></p>

        </div>
        <div th:if="${#authentication.name}!=${@utilisateurServiceImpl.findUserById(article.utilisateur.noUtilisateur).pseudo}">
            <form th:action="@{/detail-vente/{id}(id=${article.getNoArticle()})}" method="POST" class="border rounded p-4 shadow">
                <label for="inputEnchere">Ma proposition</label>
                <input type="number"
                       id="inputEnchere"
                       name="montant"
                       th:min="${article.getMiseAPrix() + 1}"
                       th:placeholder="${article.getPrixVente() + 1}"
                        required />
                <button type="submit">Enchérir</button>
            </form>
        </div>
        <div th:if="${successMessage}" class="alert alert-success">
            <span th:text="${successMessage}"></span>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>